* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.h1 .h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

:root {
    --marrone: #A9745F;
    --azzurro: #A8DADC;   
    --beige: #F1E9DB;
    --verde: #88B48B;
    --bianco: #fdf0f0f5;
    --grigio: #7D7D7D;
    --rosa: #fce4c3;
    --sabbia: #ce7b22;
    --brown: #5d390f;
}

.bg-rosa {
    background-color: var(--rosa);
}

.bg-sabbia {
    background-color: var(--sabbia);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-azzurro {
    background-color: var(--azzurro);
}

.bg-verde {
    background-color: var(--verde);
}

.bg-grigio {
    background-color: var(--grigio);
}

.text-brown {
    color: var(--brown);
}

.text-marrone{
    color: var(--marrone);
}

.text-grigio{
    color: var(--grigio);
}

.text-bianco{
    color: var(--bianco);
}

.button-custom{
    background-color: var(--verde);
}

.bg-background {
    background-image: url('/media/capybath.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: space;
    min-height: 100vh;
}

.nav-link {
    color: var(--bianco);
}

.nav-link:hover {
    color: var(--bianco) !important;
    text-shadow: 2px 2px 5px var(--brown), -2px -2px 5px var(--brown);
}

.btn-custom {
    background-color: var(--brown) !important;
    color: var(--bianco) !important;
    cursor: pointer;
}

.nav-custom {
    color: var(--bianco) !important;
}

.nav-custom:hover {
    color: var(--beige) !important;
    text-shadow: 2px 2px 5px var(--bianco), -2px -2px 5px var(--bianco);
}

.card-custom {
    width: 30%;
    border: 2px solid var(--bianco);
    background-color: var(--sabbia);
    color: var(--bianco);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.img-custom {
    height: 290px;
    width: 250px;
    border-radius: 20px;
    margin-top: 10px;
}

.btn-primary {
    background-color: var(--bianco) !important;
    color: var(--brown) !important;
    border: none;
}

.btn-primary:hover {
    background-color: var(--brown) !important;
    color: var(--bianco) !important;
    text-shadow: 2px 2px 5px var(--bianco), -2px -2px 5px var(--bianco);
}

.bg-white-background {
    background-image: url('/media/white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.img-cappy {
    height: 400px;
    width: 350px;
    border-radius: 20px;
}

.active-custom {
    font-weight: bold;
}